@{
    ViewData["Title"] = "Contact";
}
<div class="text-center">
	<h1 class="display-4">@ViewData["Title"]</h1>
	<p>Instagram: &#x40;faithssignatureorganics</p>
	<p>Facebook: Faith's Signature Organics</p>
</div>