@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>


<div class="row">
  <h4>Elderberry syrup</h4>
  <p>Price: $15.00</p>
  <a class="nav-link" asp-controller="Home" asp-action="AddToCart" asp-route-name="Elderberry syrup">Add To Cart</a>
</div>
<div class="row">
  <h4>Item 2</h4>
  <p>Price: $5.00</p>
  <a class="nav-link" asp-controller="Home" asp-action="AddToCart" asp-route-name="Item #2">Add To Cart</a>
</div>
<div class="row">
  <h4>Item 3</h4>
  <p>Price: $10.00</p>
  <a class="nav-link" asp-controller="Home" asp-action="AddToCart" asp-route-name="Item #3">Add To Cart</a>
</div>
<div class="row">
  <h4>Item 4</h4>
  <p>Price: $10.00</p>
  <a class="nav-link" asp-controller="Home" asp-action="AddToCart" asp-route-name="Item #4">Add To Cart</a>
</div>

